@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    OnLib<br />
    DHBW Karlsruhe<br />
    Erzbergerstraße 121<br />
    76133 Karlsruhe<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:onlib@torsten-werner.com">onlib@torsten-werner.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>